@model IEnumerable<WebAppFancyTemp.Models.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.message_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message_website_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message_content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.message_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message_website_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message_content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.message_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.message_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.message_id })
        </td>
    </tr>
}

</table>
